@font-face {
    font-family: 'Gelion';
    src: url('/assets/font/Gelion\ Regular.ttf') format('tff'),
         url('/assets/font/Gelion\ Light.ttf') format('woff');
    /* Add additional formats if needed */
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    color: black;
    margin: 0 auto;
    font-family: 'Gelion', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* Navbar */

nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
    background-color: #fff;
    margin: 0 auto;
    z-index: 10;
}

nav .nav-items 
{
   display: flex;
   gap: 20px;
}

nav .nav-items a
{
    color: black;
    font-size: 16px;
    font-weight: 600;
}


nav .btn-blue a {
    padding: 12px 24px;
    color: white;
    font-size: 16px;
    background-color: #5862ed;
    border-radius: 10px;
}


/* Home Header */


header {
    position: sticky;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}

header.scrolled {
    background-color: #fff;
    transition: 0.5s ease;
    padding: 24px 80px;
  }
  
header.scrolled .nav-items a {
    color: black;
    font-weight: 600;
}

header.scrolled .btn a {
    color: black;
    background: #5862ed;
    
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10%;
}

header .nav-items {
    display: flex;
    gap: 20px;
}

header .btn a {
    padding: 12px 24px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    background-color: rgba(234, 234, 234, 0.284);
    backdrop-filter: blur(23px);
    border-radius: 10px;
}




.container {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
}

video {
    object-fit: cover;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* ----------------- Home Page ----------------- */

.home {
    width: 100%;
    border-radius: 10px;
    height: 750px;
    z-index: 100;
    position: relative;
    margin-bottom: 15px;
}

.home .home-bg
{
    border-radius: 15px;
    height: 750px;
}

.home-content {
    color: white;
    position: absolute;
    left: 80px;
    top: 550px;
}

.home-content p {
    font-size: 16px;
}

.home-content h1 {
    padding-top: 1opx;
    line-height: 60px;
    font-size: 66px;
}


/* ----------------- About Page ----------------- */

.about {
    position: relative;
    background-color: #e4f1ff;
    width: 100%;
    height: 644px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 15px;
    z-index: 1;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.about-content p {
    font-size: 16px;
    line-height: 30px;
    width: 60%;
}

.about-content .clients-slider {
    padding-top: 23px;
    height: 180px;
    width: 100%;
    padding-left: 20%;

}

.about-content .clients-slider img{
    filter: grayscale(100%);
}


.about-content h1 {
    font-size: 34px;
    line-height: 50px;
    word-spacing: 4px;
    width: 60%;
}


/* ----------------- Gallery ----------------- */

.gallery {
    display: block;
    position: relative;
    background-color: #fcf6ed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 644px;
    border-radius: 10px;
    margin-bottom: 15px;
    z-index: 1;
}

.gallery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.gallery-content h1 {
    width: 60%;
    font-size: 34px;
    line-height: 50px;
    word-spacing: 4px;
    padding-bottom: 25px;
}

.gallery-content .gallery-slider {
    height: 300px;
    width: 100%;
    padding-left: 20%;
}

.gallery-content .gallery-slider img {
    height: 300px;
    width: 100%;
    padding-left: 10px;
    transition: filter 0.3s ease;
}

.gallery-content .gallery-slider .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next) img {
    filter: brightness(100%) contrast(80%) opacity(0.3);
}

.buttons
{
    position: absolute;
    bottom: 120px;
    right: 200px;
}

.swiper-button-next::after,
.swiper-button-prev::after
{
    content: '';  
}

.swiper-button-next,
.swiper-button-prev
{
   width: initial;
   height: initial;
   top: initial;

}


.swiper-button-prev
{

    left: calc(50% - 3rem);
    background-color:  #fff;
    padding: 11px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.swiper-button-next
{

    right: calc(50% - 3rem);
    background-color:  #fff;
    padding: 13px;
    border-radius: 50%;
    border: none;
    outline: none;
}


.image-container {
    position: relative;
}

.image-caption {
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: white;
    padding: 5px 10px;
}

.image-caption h2 {
    font-size: 26px;
}


.gallery-content p {
    width: 60%;
    font-size: 16px;
    line-height: 23px;
    padding-top: 25px;
}



/* ------------------------- Programmes--------------------------- */

.programs {
    position: relative;
    height: 644px;
    margin-bottom: 15px;
    z-index: 1;
}

.programs .flag-bg
{
    position: absolute;
    top: 0;
    left: 0;
    height: 644px;
    border-radius: 10px;
}

.programs-content {
    position: absolute;
    left: 47%;
    top: 10%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    z-index: 400;
}

.programs-content h1 {
    font-weight: 600;
    word-spacing: 2px;
    font-size: 34px;
    text-align: start;
}

.programs-content p {
    font-weight: 400;
    font-size: 16px;
    padding-top: 15px;
}

.programs-content .btn {
    font-weight: 400;
    font-size: 14px;
    padding-top: 35px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.programs-content .btn span{
    margin-left: 10px;
    background-color: black;
    padding: 7px;
    border-radius: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* ----------------- Gallery ----------------- */

.careers {
    display: block;
    position: relative;
    background-color: #DBF6EA;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 644px;
    border-radius: 10px;
    margin-bottom: 15px;
    z-index: 1;
}

.careers-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.careers-content h1 {
    width: 60%;
    font-size: 66px;
    line-height: 50px;
    word-spacing: 4px;
    padding-bottom: 40px;
}

.careers-content .careers-slider {
    height: 400px;
    width: 100%;
    padding-left: 20%;
}

.careers-content .careers-slider img {
    height: 400px;
    width: 100%;
    padding-left: 10px;
    transition: filter 0.3s ease;
}

.careers-content .careers-slider .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next) img {
    filter: brightness(100%) contrast(80%) opacity(0.3);
}

.careers-btn
{
    position: absolute;
    top: 100px;
    right: 400px;
}

.swiper-button-next::after,
.swiper-button-prev::after
{
    content: '';  
}

.swiper-button-next,
.swiper-button-prev
{
   width: initial;
   height: initial;
   top: initial;

}


.swiper-button-prev
{

    left: calc(50% - 3rem);
    background-color:  #fff;
    padding: 11px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.swiper-button-next
{

    right: calc(50% - 3rem);
    background-color:  #fff;
    padding: 13px;
    border-radius: 50%;
    border: none;
    outline: none;
}



.image-container {
    position: relative;
}

.image-caption {
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: white;
    padding: 5px 10px;
}

.image-caption .c-title {
    font-size: 34px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
}


/* ----------------- Work ----------------- */

.work {
    display: block;
    position: relative;
    background-color: #fcf6ed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 644px;
    border-radius: 10px;
    margin-bottom: 15px;
    z-index: 1;
}

.work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.work-content h1 {
    width: 60%;
    font-size: 66px;
    line-height: 70px;
    word-spacing: 4px;
    padding-bottom: 25px;
}

.work-content p {
    width: 60%;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 25px;
}


.work-content .work-slider {
    height: 300px;
    width: 100%;
    padding-left: 20%;
}

.work-content .work-slider img {
    height: 300px;
    width: 100%;
    padding-left: 10px;
    transition: filter 0.3s ease;
}

.work-content .work-slider .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next) img {
    filter: brightness(100%) contrast(80%) opacity(0.3);
}

.work-btn
{
    position: absolute;
    top: 240px;
    right: 150px;
}

.swiper-button-next::after,
.swiper-button-prev::after
{
    content: '';  
}

.swiper-button-next,
.swiper-button-prev
{
   width: initial;
   height: initial;
   top: initial;

}


.swiper-button-prev
{

    left: calc(50% - 3rem);
    background-color:  #fff;
    padding: 11px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.swiper-button-next
{

    right: calc(50% - 3rem);
    background-color:  #fff;
    padding: 13px;
    border-radius: 50%;
    border: none;
    outline: none;
}


.image-container {
    position: relative;
}

.image-caption {
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: white;
    padding: 5px 10px;
}

.image-caption h2 {
    font-size: 26px;
}


/* ----------------------- Service ----------------------- */

.service {
    display: block;
    position: relative;
    background-color: #EEEFFD;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 644px;
    border-radius: 10px;
    margin-bottom: 15px;
    z-index: 1;
}

.service-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.service-content h1 {
    width: 60%;
    font-size: 66px;
    line-height: 70px;
    word-spacing: 4px;
    padding-bottom: 25px;
}

.service-content .service-slider {
    height: 300px;
    width: 100%;
    padding-left: 20%;
}

.service-content .service-slider img {
    height: 300px;
    width: 100%;
    padding-left: 10px;
    transition: filter 0.3s ease;
}

.service-content .service-slider .swiper-slide:not(.swiper-slide-active):not(.swiper-slide-next) img {
    filter: brightness(100%) contrast(80%) opacity(0.3);
}

.buttons
{
    position: absolute;
    bottom: 120px;
    right: 200px;
}

.swiper-button-next::after,
.swiper-button-prev::after
{
    content: '';  
}

.swiper-button-next,
.swiper-button-prev
{
   width: initial;
   height: initial;
   top: initial;

}


.swiper-button-prev
{

    left: calc(50% - 3rem);
    background-color:  #fff;
    padding: 11px;
    border-radius: 50%;
    border: none;
    outline: none;
}

.swiper-button-next
{

    right: calc(50% - 3rem);
    background-color:  #fff;
    padding: 13px;
    border-radius: 50%;
    border: none;
    outline: none;
}


.image-container {
    position: relative;
}

.image-caption {
    position: absolute;
    bottom: 10px;
    left: 30px;
    color: white;
    padding: 5px 10px;
}

.image-caption h2 {
    font-size: 26px;
}


.service-content p {
    width: 60%;
    font-size: 16px;
    line-height: 23px;
    padding-top: 25px;
}






/* ---------------------- Email ----------------------- */


.email {
    position: relative;
    background-color: #dbf6ea;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 297px;
    border-radius: 10px;
    margin-bottom: 15px;
    z-index: 1;
}

.email-content {

    width: 60%;
    margin: 0 auto;
}

form 
{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-bottom: 1px solid rgb(44, 44, 44);
    width: 100%;
}

.email-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    outline: none;
    background-color: transparent;
    border-radius: 5px;
    font-size: 50px;
}

button
{
    outline: none;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-button{
    background-color: black;
    height: 50px;
    width: 55px;
    border-radius: 50%;
}

.email-input::placeholder {
    font-size: 50px; 
}


.email-content h1 {
    font-size: 66px;
    line-height: 70px;
    word-spacing: 4px;
    padding-bottom: 15px;
}

.email-content p {
    font-size: 16px;
    padding-top: 30px;

}



.footer {
    position: relative;
    background-color: #faf0e1;
    width: 100%;
    height: 360px;
    border-radius: 10px;
    z-index: -1;
}

.footer-bg
{
    position: absolute;
    bottom: 0;
    background: url("/assets/images/Group\ 6126.png");
    background-size: cover;
    background-position: bottom center;
    height: 200px;
    width: 100%;
}


.footer-content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 60%;
    margin: 0 auto;
    gap: 110px;
}

.footer-content .footer-top {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.footer-content .footer-top .right{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px;
}

.footer-content .footer-top .right h3{
    font-size: 24px;
}


.footer-content .footer-bottom {
    display: flex;
    align-items: end;
    width: 100%;
    justify-content: flex-end;
    gap: 80px;
}

.footer-content .footer-bottom .links {
    display: flex;
    flex-direction: column;
    align-items: start;

 }

.footer-content .footer-bottom .links a{
   color: black;
   font-size: 16px;
   font-weight: 600;
   cursor: pointer;
   z-index: 10;
}



/* ----------------- Responsive Start----------------- */


@media (min-width:1580px) {
    .container {
        max-width: 1580px;
    }
}